<form method="get" action="/schilderijen" class="search-form" data-search-form>
    <label for="search">
        Search for your favourite artist and press ENTER
    </label>
    <input type="search" id="search" name="search" class="search-form__input" data-search-input/>
</form>