<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<title>Rijksquiz</title>
	<link href="/css/styles.css" rel="stylesheet">
	<script src="/socket.io/socket.io.js" defer></script> 
	<script src="/js/script.js" defer></script>
</head>
<body>
	<header>
		<a href="/">
		<h1>Art @ Home: Rijksquiz</h1></a>
	</header>
	<main>
		<section>
			<ul>
                <% data.forEach(function(paintings) { %>
                    <li>
                        <% if (paintings.webImage) { %>
                            <img src="<%- paintings.webImage.url.slice(0, -3)+"=s1000" %>">
                        <% } %>
                        <h1><%- paintings.title %></h1>
                    </li>
                <% }) %>  
            </ul>
		</section>
		<section>
			<h1>Raad de kunstenaar</h1>
			<ul class="answer"></ul>
			<form>
				<input autocomplete="off" type="text"> <button><span>Send</span></button>
			</form>
		</section>
	</main>
</body>
</html>