<!DOCTYPE html>
<html>
    <%- include('../partials/head') %>
    <body>
        <%- include('../partials/header') %>
        <main>
            <%- include('../partials/form') %>
            <h1 class="visible">Het rijksmuseum</h1>
        </main> 
        <%- include('../partials/serviceWorker') %>          
    </body>
</html>